@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

html {
    margin: 0;
    padding: 0;
}

.navbar {
    color: rgb(255, 221, 0);
    background-color: #008c44;    
}

.navbar-brand {
    color: rgb(255, 221, 0);
    font-family: "Courgette", sans-serif;
}

#background-image {
    background: url("../images/dingle.jpg") no-repeat center center scroll;
    background-size: cover;
    height: 100vh;
}

.btn-group {
    margin-top: 100px;
}

.btn, .show>.btn-secondary.dropdown-toggle, .btn-secondary:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;    
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border: none;    
}

.dropdown-item {
    text-align: center;
    font-size: 1rem;
}

div#map {min-height: 360px;}

.map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        padding-right: 5px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        vertical-align: baseline;
      }

@media only screen and (max-width: 576px) {

#navbar-text {
    display: none;
}

}