html {
    margin: 0;
    padding: 0;
}

.navbar {
    color: rgb(255, 221, 0);
    background-color: #008c44;
}

.navbar-brand {
    color: rgb(255, 221, 0);
}

#background-image {
    background: url("../images/dingle.jpg") no-repeat center center scroll;
    background-size: cover;
    height: 50vh;
}

.btn-group {
    margin-top: 100px;
}

div#map {min-height: 360px;}

.map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        padding-right: 5px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        vertical-align: baseline;
      }